#content {
	font-family: sans-serif;
	font-size: 80%;
	line-height: 150%;
	text-align: justify;
	padding: 10px 20px 10px 20px;
}
td#leftpartition {
	font-family: sans-serif;
	font-size: 80%;
	line-height: 150%;
	text-align: justify;
	border-right: 1px #000000 dotted;
}
#player, #lastfmlisteners {
	padding: 10px 20px 10px 20px;
}
#lastfm {
	text-align: center;
	padding: 5px 0px 20px 0px;
}
.posttitle, .imgposttitle {
	font-weight: bold;
	font-size: 140%;
}
.postpubdate, .imgpostpubdate {
	font-style: italics;
	font-size: 80%;
	padding: 0 0 5px 0;
}
.postdescription {
	padding: 0 0 10px 0;
	margin: 0 0 10px 0;
        border-bottom: 1px #BBBBBB solid;
}
.postlink {
	padding: 0px 0 10px 0;
	margin: 0px 0 20px 0;
        border-bottom: 1px #BBBBBB solid;
}
img.float {
	padding : 0px 15px 5px 0px;
	float: left;
}
#subheader {
	font-weight: bold;
	font-style: italics;
}
.notes {
	font-size: 90%;
	padding: 0 0 0 20px;
}
.footertext {
	color: #EEEEEE;
	font-family: sans-serif;
	font-size: 70%;
	padding: 20px 10px 20px 10px;
}
a {
	color : #0000FF;
	text-decoration : none;
	background : #FFFFCC;
}

a:visited {
	color : #0000FF;
	text-decoration : none;
	background : #FFFFCC;
}

a:hover {
	background : #FFFF80;
}

#newsletter {
	text-align: center;
	padding: 5px 0px 5px 0px;
}

.photoscroll {
	width: 100%;
}

.photoscroll a img {
	padding: 2px 2px 2px 2px;
}

.psdisplay {
	padding: 5px 5px 5px 5px;
	margin: 0 0 10px 0;
	border: 2px solid rgb(92, 127, 185);
}

#twitterhead {
	color: #EEEEEE;
	font-family: sans-serif;
	font-size: 80%;
	line-height: 120%;
	text-align: right;
	padding: 0px 20px 0px 20px;
}

#twitterhead a:hover {
	color: #FF0000;
	background : #000000;
}

#twitterhead a {
	color: #EE0000;
	background : #000000;
}

#booking input {
	margin: 5px 5px 5px 5px;
}